<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konarehb Portfolio</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/k-logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}">
</head>
<body>
    <nav id="desktop-nav">
        <div class="logo">
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/k-logo.png') }}"></a>
        </div>
        <div>
          <ul class="nav-links">
            <li><a href="#about">À Propos</a></li>
            <li><a href="#experience">Expérience</a></li>
            <li><a href="#projects">Projets</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <nav id="hamburger-nav">
        <div class="logo">
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/k-logo.png') }}"></a>
        </div>        
        <!-- <nav>
          <div class="nav-links-container">
            <ul class="nav-links">
              <li><a href="#about">À Propos</a></li>
              <li><a href="#experience">Expérience</a></li>
              <li><a href="#projects">Projets</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </nav> -->
      </nav>
      <section id="profile">
        <div class="section__pic-container">
          <img src="{{ url_for('static', filename='assets/profile_pic.png') }}" alt="Badié Hamidou Konaré profile picture" />
        </div>
        <div class="section__text">
          <p class="section__text__p1">Salut, Je Suis</p>
          <h1 class="title">Badié Hamidou <span id="lastname">Konaré</span></h1>
          <p class="section__text__p2">Ingénieur Développeur</p>
          <div class="btn-container">
            <form action="/view_resume" method="post" target="_blank">
              <button class="btn btn-color-2" type="submit">
                Télécharger CV
              </button>
            </form>
            <button class="btn btn-color-1" onclick="location.href='#contact'">
              Me Contacter
            </button>
          </div>
          <div id="socials-container">
            <img
              src="{{ url_for('static', filename='assets/linkedin.png') }}"
              alt="My LinkedIn profile"
              class="icon"
              onclick="window.open('https://www.linkedin.com/in/konarehb')"
            />
            <img
              src="{{ url_for('static', filename='assets/github.png') }}"
              alt="My GitHub profile"
              class="icon"
              onclick="window.open('https://github.com/konarehb', '_blank')"
            />
          </div>
        </div>
      </section>
      <section id="about">
        <p class="section__text__p1">Faisons Connaissance</p>
        <h1 class="title">À Propos de Moi</h1>
        <div class="section-container">
          <div class="section__pic-container">
            <img
              src="{{ url_for('static', filename='assets/about_pic.png') }}"
              alt="Profile picture"
              class="about-pic"
            />
          </div>
          <div class="about-details-container">
            <div class="about-containers">
              <div class="details-container">
                <img
                  src="{{ url_for('static', filename='assets/professional.png') }}"
                  alt="Experience icon"
                  class="icon"
                />
                <h3 class="title-h3">Expérience</h3>
                <p>2 ans+ <br />Développement Informatique</p>
              </div>
              <div class="details-container">
                <img
                  src="{{ url_for('static', filename='assets/education.png') }}"
                  alt="Education icon"
                  class="icon"
                />
                <h3 class="title-h3">Formation</h3>
                <p>Master en Génie Logiciel et Développement Web (Mali)</p>
              </div>
            </div>
            <div class="text-container">
              <p>
                Ingénieur Développeur passionné avec plus de deux ans d'expérience,
                je me spécialise en Flutter, Java et JavaScript. Autonome, collaboratif 
                et adaptable, je possède d'excellentes compétences en communication. 
                Bilingue en anglais et français, je suis dévoué à l'apprentissage continu 
                et toujours à la recherche de nouvelles opportunités pour perfectionner mes 
                compétences et apporter une valeur ajoutée à mon équipe.
              </p>
            </div>
          </div>
        </div>
        <img
          src="{{ url_for('static', filename='assets/down-button.png') }}"
          alt="Arrow icon"
          class="icon arrow"
          onclick="location.href='#experience'"
        />
      </section>
      <section id="experience">
        <p class="section__text__p1">Mon Parcours</p>
        <h1 class="title">Expérience</h1>
        <div class="experience-details-container">
          <div class="about-containers">
            <div class="details-container">
              <h2 class="experience-sub-title">Compétences</h2>
              <div class="article-container">
                <article>
                  <img
                    src="{{ url_for('static', filename='assets/verified-badge.png') }}"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3 class="skill-h3">Frontend</h3>
                    <p>JavaScript</p>
                    <p>HTML5</p>
                    <p>CSS3</p>
                  </div>
                </article>
                <article>
                  <img
                    src="{{ url_for('static', filename='assets/verified-badge.png') }}"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3 class="skill-h3">Backend</h3>
                    <p>Dart</p>
                    <p>Java</p>
                    <p>Python</p>
                    <p>RESTful APIs</p>
                    <p>SQL</p>
                    <p>NoSQL</p>
                  </div>
                </article>
                <article>
                  <img
                    src="{{ url_for('static', filename='assets/verified-badge.png') }}"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3 class="skill-h3">Frameworks</h3>
                    <p>Flutter</p>
                    <p>Flask</p>
                    <p>jQuery</p>
                  </div>
                </article>
                <article>
                  <img
                    src="{{ url_for('static', filename='assets/verified-badge.png') }}"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3 class="skill-h3">Collaboration</h3>
                    <p>Git</p>
                    <p>GitHub</p>
                    <p>Docker</p>
                  </div>
                </article>
                <article>
                  <img
                    src="{{ url_for('static', filename='assets/verified-badge.png') }}"
                    alt="Experience icon"
                    class="icon"
                  />
                  <div>
                    <h3 class="skill-h3">Cloud</h3>
                    <p>Google Cloud (GCP)</p>
                    <p>Firebase</p>
                    <p>B2 Cloud Storage</p>
                    <p>Vercel</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Professionnelle</h2>
            <div class="article-container">
              <article>
                <!-- <img
                  src="{{ url_for('static', filename='assets/professional.png') }}"
                  alt="Experience icon"
                  class="icon"
                /> -->
                <!-- <div>
                  <h3 class="skill-h3">Stagiaire Assistant</h3>
                  <p>Centre des Impôts de la Commune V
                    <br>juin 2023 - août 2023
                    <br>Bamako, Mali</p>
                </div> -->
              </article>
              <article>
                <img
                  src="{{ url_for('static', filename='assets/professional.png') }}"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3 class="skill-h3">Stagiaire DBA Oracle</h3>
                  <p>Direction Générale des Impôts du Mali (DGI)
                    <br>janv. 2023 - juin 2023
                    <br>Bamako, Mali</p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <img
          src="{{ url_for('static', filename='assets/down-button.png') }}"
          alt="Arrow icon"
          class="icon arrow"
          onclick="location.href='#projects'"/>
      </section>
      <section id="projects">
        <p class="section__text__p1">Mon Portfolio</p>
        <h1 class="title">Projets</h1>
        <div class="experience-details-container">
          <div class="project-about-containers">
            <div class="project-details-container color-container">
              <div class="article-container">
                <img
                  src="{{ url_for('static', filename='assets/buymymusic.png') }}"
                  alt="Project 1"
                  class="project-img"
                />
              </div>
              <h2 class="experience-sub-title project-title">BuyMyMusic</h2>
              <p>Flutter (Dart), GCP Services, Firebase, B2 Cloud Storage</p>
              <div class="btn-container">
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="window.open('https://play.google.com/store/apps/details?id=com.buymymusic')"
                >
                  App Android
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="window.open('https://buymymusic.web.app')"
                >
                  App Web
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="alert('Bientôt Disponible !')"
                >
                  App iOS
                </button>
              </div>
            </div>
            <div class="project-details-container color-container">
              <div class="article-container">
                <img
                  src="{{ url_for('static', filename='assets/screenshot1.png') }}"
                  alt="Project 1"
                  class="project-img"
                />
              </div>
              <h2 class="experience-sub-title project-title">Konarehb Portfolio</h2>
              <p>Python (Flask), HTML, CSS, Docker, Vercel</p>
              <div class="btn-container">
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="window.open('https://konarehb.vercel.app')"
                >
                  Site Web
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="window.open('https://github.com/konarehb/flask-portfolio')"
                >
                  GitHub
                </button>
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="window.open('https://hub.docker.com/r/konarehb/flask-portfolio')"
                >
                  Docker
                </button>
              </div>
            </div>
            <div class="project-details-container color-container">
              <div class="article-container">
                <img
                  src="{{ url_for('static', filename='assets/rhapsodie.png') }}"
                  alt="Project 1"
                  class="project-img"
                />
              </div>
              <h2 class="experience-sub-title project-title">Rhapsodie</h2>
              <p>Java, JavaScript, HTML, CSS, Firebase</p>
              <div class="btn-container">
                <button
                  class="btn btn-color-2 project-btn"
                  onclick="window.open('https://rhapsodie-c02b8.web.app/')"
                >
                  Site Web
                </button>
              </div>
            </div>
          </div>
        </div>
        <img
          src="{{ url_for('static', filename='assets/down-button.png') }}"
          alt="Arrow icon"
          class="icon arrow"
          onclick="location.href='#contact'"
        />
      </section>
      <section id="contact">
        <p class="section__text__p1">Prendre Contact</p>
        <h1 class="title">Contactez-Moi</h1>
        <div class="contact-info-upper-container">
          <div class="contact-info-container">
            <img
              src="{{ url_for('static', filename='assets/mail-blue.png') }}"
              alt="Email icon"
              class="icon email-icon"
            />
            <p><a href="mailto:konarehb@gmail.com" id="txt-mail">konarehb@gmail.com</a></p>
          </div>
          <div class="contact-info-container">
            <img
              src="{{ url_for('static', filename='assets/phone-blue.png') }}"
              alt="LinkedIn icon"
              class="icon contact-icon"
            />
            <p><a class="phone-number">+223 73 46 93 34</a></p>
          </div>
        </div>
      </section>
      <footer>
        <div class="logo" id="footer-logo">
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/k-logo.png') }}"></a>
        </div>
        <nav class="footer-nav">
          <div class="nav-links-container">
            <ul class="nav-links">
              <li><a href="#about">À Propos</a></li>
              <li><a href="#experience">Expérience</a></li>
              <li><a href="#projects">Projets</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </nav>
        <p>Copyright &#169; {{ current_year }} Badié Hamidou Konaré. Tous Droits Reservés.</p>
      </footer>
</body>
</html>